body{
	margin: 0;
	padding: 0;
	font-family: 'Mainfont';
	font-weight: normal;
	font-size: 12px;
	background: #FFF;

	/** Sidebar Header **/
	header.sidebar-header{ 
		width: 250px; 
		height: 100%; 
		display: block; 
		position: fixed; 
		background: #FEFEFE;
		border-right: 1px solid #DDD;

		.menu-header-wrapper{
			ul.menu{
				margin: 0;
				padding: 0;
				list-style: none;

				li.menu-item{

					margin: 0 0;
					padding: 5px 0 0;

					a{ color: #333;  text-decoration: none; }
				}
			}
		}
	}

	/** Ajax Return Section **/
	div.ajax_breadcrumbs{
		width: 1020px;
		padding: 15px;
		left: 250px;
		position: relative;
	}
	section.ajax_return{
		width: 1020px;
		padding: 15px;
		left: 250px;
		position: relative;
	}
}